        /* *{
            margin: 0;
            padding: 0;
        }

        .nav-main-div {
            height: 70px;
            width: 100%;
            background-color: black;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .amazon-log {
            height: 60px;
            width: 17%;
            display: flex;
            background-color: crimson;
        }

        .amazon-logo-img {
            height: 55px;
            width: 100%;
            display: flex;
        }

        .amazon-log:hover {
            border: 1px solid white;
        }

        .loction-icon:hover {
            border: 1px solid white;
        }

        .in {
            font-size: 20px;
            margin-top: 10px;
            font-size: 23px;
        }

        .loction-icon {
            height: 60px;
            width: 20%;
            margin: 5px;
            display: flex;
        }

        .main-icon {
            height: 40px;
            width: 20px;
            font-size: 20px;
        }

        .icons {
            margin-top: 20px;
        }

        .loction-titel {
            height: 60px;
            width: 300px;
        }

        .dilivering-div {
            font-size: 14px;
            color: rgba(255, 255, 255, 0.517);
            font-family: 'Times New Roman', Times, serif;
            display: flex;
            line-height: 15px;
            margin-left: 5px;
        }

        .update-loction {
            font-size: 15px;
            margin-left: 5px;
        }

        .search-main-div {
            height: 30px;
            width: 35%;
            background-color: white;
            display: flex;
            cursor: pointer;
            border: none;
        }

        .drop-down-list {
            height: 30px;
            width: 60px;
            background-color: white;
            display: flex;
            color: black;
        }

        .drop-down-div {
            height: 53px;
            width: 66px;
            border: 1px solid orange;
        }

        .search-div {
            height: 50px;
            width: 80%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .input {
            height: 50px;
            width: 100%;
            font-size: 25px;
            font-family: 'Times New Roman', Times, serif;
            font-weight: 100;
            padding: 20px;
            box-sizing: border-box;
        }

        .camera {
            font-size: 40px;
            box-sizing: border-box;
            margin-top: 5px;
            margin-left: 5px;
        } */




/* 
.nav-main-div{
    height: 50px;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.amazon-log{
    height: 48px;
    width: 12%;
    display: flex;
}
.amazon-logo-img{
    height: 45px;
    width: 99%;
}
.amazon-log :hover{
    border: 1px solid white;
}
.in{
    font-size: 20px;
    color: white;
}
.loction-icon{
    height: 50px;
    width: 17%;
    display: flex;
}
.main-icon{
    height: 50px;
    width: 5%;
}
.loction-titel{
    height: 50px;
    width: 10%;
} */